<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension  point="org.eclipse.ui.actionSets">
   	  <actionSet label="Align Action Set" visible="true" id="Action">
         <menu label="&amp;Align" id="align">
           <separator
                  name="align">
           </separator>
         </menu>
         <action
              label="&amp;Alignment"
              icon="icons/align.gif"
              class="fr.inrialpes.exmo.align.plugin.neontk.AlignAction"
              tooltip="Show Neon Alignment View"
              menubarPath="align/align"
              toolbarPath="align"
              id="fr.inrialpes.exmo.align.plugin.neontk.action">
         </action>
      </actionSet>
   </extension>
   
   <extension point="org.eclipse.ui.views">
      <view
            name="Alignment"
            allowMultiple="true"
            icon="icons/align.gif"
            class="fr.inrialpes.exmo.align.plugin.neontk.View"
            id="fr.inrialpes.exmo.align.plugin.neontk.view">
      </view>
       
   </extension>
         
</plugin>
